<?xml version="1.0" encoding="UTF-8"?>

<!--
    1. 哪些类需要我来关联？
    2. 怎么告诉我这些类
    3. 怎么维护依赖关系（setter，constructor）
    4. 怎么体现setter或者constructor

    手动装配文件，测试set方法注入
-->
<beans default="byType">
    <bean id="dao" class="com.zh.dao.UserDao1Impl"/>
    <bean id="dao2" class="com.zh.dao.UserDao2Impl"/>

    <!-- 注入：构造方法注入，set方法注入 -->
    <bean id="service" class="com.zh.service.UserService1Impl">
        <!-- setter方法 -->
        <property name="dao" ref="dao2" />
    </bean>


</beans>