<?xml version="1.0" encoding="UTF-8"?>

<!--
    1. 哪些类需要我来关联？
    2. 怎么告诉我这些类
    3. 怎么维护依赖关系（setter，constructor）
    4. 怎么体现setter或者constructor

    测试自动装配的配置文件

-->
<beans default="byType">
    <!-- 这两个配置文件都实现了UserDao接口，因为类型是byType，同时声明2个会报错 -->
    <bean id="dao" class="com.zh.dao.UserDao1Impl"/>
    <bean id="dao1" class="com.zh.dao.UserDao2Impl"/>

    <bean id="service" class="com.zh.service.UserService3Impl" />

</beans>