<?xml version="1.0" encoding="UTF-8"?>

<!--
    1. 哪些类需要我来关联？
    2. 怎么告诉我这些类
    3. 怎么维护依赖关系（setter，constructor）
    4. 怎么体现setter或者constructor

    测试自动装配的配置文件

-->
<beans default="byType">
    <!-- 这个service里写的是testDao -->
    <bean id="dao" class="com.zh.dao.UserDao1Impl"/>
    <bean id="test" class="com.zh.dao.TestDaoImpl"/>

    <bean id="service" class="com.zh.service.UserService4Impl" />

</beans>